* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: white;
    background-color: #23252C;
}

header, section, footer{
    display: flex;
    align-items: center;
    background-color: #1A1B21;
    width: 60vw;
    margin: 0 auto;
}

section{
    align-items: flex-start;
    flex-direction: column;
    padding: 0 36px;
}

header {
    align-items: center;
    flex-direction: column;
    
}

footer{
    justify-content: center;
    padding: 20px;
    gap: 35px;
    background-color: #161619;
}

header .main-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

header h1{
    font-size: 1.6rem;
    margin-bottom: 0;
    font-weight: 00;
}

header p{
    font-size: 0.8rem;
    color: #F3BF99;
    margin: 6px 0 8px 0;
}

header a{
    text-decoration: none;
    color: #F5F5F5;
    font-size: 0.64rem;
    margin-bottom: 2em;
}

header .btn{
    padding: 4px 10px;
}

section h3{
    margin-bottom: 0;
    font-size: 1rem;
}

section p{
    font-size: 0.64rem;
}

footer img{
    width: 8%;
}

.interests{
    padding-bottom: 30px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 33px;
}

.mail-link, .lin-link{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
}

.mail-link{
    background-color: #fff;
    padding: 9px 30px 9px 30px;
}

.mail-link a{
    color: #374151;
    padding: 0;
    font-size: 0.875rem;
}

.mail-link img{
    width: 90%;
}

.lin-link{
    background-color: #5093E2;
    padding: 9px 18px 9px 18px;
    gap: 0px;
}

.lin-link a {
    font-size: 0.875rem;
}

